<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1060411657406-v9c6s8rno4srid1e0vgqlfmsgt6s6gm9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1060411657406-v9c6s8rno4srid1e0vgqlfmsgt6s6gm9</string>
	<key>API_KEY</key>
	<string>AIzaSyDfp4Vj58CiCiFeCa42BsMRCC7Ni5q_Xc8</string>
	<key>GCM_SENDER_ID</key>
	<string>1060411657406</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.accountabilitygroup.tracker</string>
	<key>PROJECT_ID</key>
	<string>the-accountability-group</string>
	<key>STORAGE_BUCKET</key>
	<string>the-accountability-group.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1060411657406:ios:5a0fa040a629d204e7e2ef</string>
</dict>
</plist>